.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

input{
  color: black; 
}


.containerCc{
  position: relative;
}

.modelisation{
  display: flex; 
  flex-flow: row nowrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 950px){
  .modelisation{
    width: 100%;
  }
}

.j0{
  height:462px;
  width: 25%;
  border: 1px solid white;
}
@media (max-width: 950px){
  .j0{
    width: 30%;
  }
}

.inputJ0{
  border: 2px solid salmon; 
  background: rgba(0, 0, 0, 0.5); 
  color: gainsboro; 
  padding: 2px 5px;
  margin-bottom: 10px; 
  width: 75%;
}


.btnSubmit{ 
  margin-top: 20px;
  padding: 10px; 
  font-size: 20px;

  border: none; 
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5); 
  font-size: bold !important;
  color: white !important; 
}
.btnSubmit:hover{
  background-color: salmon;
}

#tableCalendar{
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-between;
  width: 50%; 
  height : 466px;
  overflow-y: scroll;
  padding: 5px; 

}

@media (max-width: 950px){
  .tableCalendar{
    width: 75%;
  }
}


.BlockR0{
  position: absolute;
  bottom: -25px; 
  left: 50%; 
  transform: translateX(-50%);
  height: 50px;
  width: auto; 
  padding: 10px;
  font-size: 20px; 
  background-color : cornflowerblue;
  border-radius: 5px;
}

.bodyModal{
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}

.titleModal{
  width: 100%;
  font-size : 24px;
  text-align: center;
  margin-bottom: 10px;
}

.styleBtnRuleModal{
  padding: 5px; 
  width: 30%;
  height: 150px;
  /* border-radius: 50%; */
  font-size: 24px;
  font-weight: bold;
  background-color:gainsboro;
}

.onRule{
  position: relative;
  border: 10px solid darkred;
}
.onRule::before{
  width: 0;
  height: 0;
  border-left: 10px solid darkred;
  border-right: 10px solid darkred;
  border-top: 75px solid darkred;
  border-bottom:75px solid darkred;
  position: absolute;
  content: "";
  top: -10px;
  left: 112px; 
  
 
  transform: rotate(45deg);
  /* border: 10px solid darkred; */
}

.offRule{ 

  border: 10px solid cornflowerblue;
}

#SectionModal{
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

#modal{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex; 
  flex-flow: column nowrap;
  height: 80%; 
  width: 75% !important; 
  background-color: seashell;

}

.CloseModal{
  display: none;
}

.OpenModal{
  display: block;
}

.btnClose{
  position: absolute;
  top: 5px; 
  right: 5px; 
  font-size: 12px; 
  color: black; 
  padding: 5px;
}




.month_tabElem{
  width: 150px;
  height: 110px;
  padding: 5px;
  border: 1px solid teal; 
}


.div_tabElem{
  width: 14% !important;
  height: 75px;
  border: 1px solid white;
  margin-bottom: 2px;
  /* background-color: wheat; */
}

.span_tabElem{
  display: flex;
  justify-content: center;
  width:100%; 
  padding: 2px 0px;
  background-color: #211e33;
}

.daySet{
  position: relative;
  border: 3px solid salmon;
}
.daySet::before{
  content: 'U+2764';
  width: 10px;
  height: 10px;

  position: absolute;
  top: 32px;
  left: 28px;
  transform: rotate(45deg);
}
.daySet::after{
  width: 10px;
  height: 10px;

  position: absolute;
  content: "U+2764";
  top: 32px;
  left: 28px;
  transform: rotate(-45deg);
}







/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: salmon;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d04535;
}