.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 80px; }
    .jumbotron .btn-primary {
      background: #845ac7;
      border-color: #845ac7; }
      .jumbotron .btn-primary:hover {
        background: #7646c1; }
    .jumbotron p {
      color: #d9ccee;
      max-width: 75%;
      margin: 1em auto 2em; }
    .navbar + .jumbotron {
      margin-top: -20px; }
    .jumbotron .lang-logo {
      display: block;
      background: #B01302;
      border-radius: 50%;
      overflow: hidden;
      width: 100px;
      height: 100px;
      margin: auto;
      border: 2px solid white; }
      .jumbotron .lang-logo img {
        max-width: 100%; }
  
  input{
    color: black; 
  }
  
  
  .containerCc{
    position: relative;
    margin-bottom: 0px;
  }
  
  .modelisation{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    width:100%;
    margin: 0 auto;
  }

  .j0{
    height:545px;
    width: 30%;
    border: 1px solid white;
  }
  .j0 label{
      font-size: 18px;
      font-weight: 400 !important;
  }

  
  .inputJ0{
    border: 2px solid salmon; 
    background: rgba(0, 0, 0, 0.5); 
    color: gainsboro; 
    padding: 2px 5px;
    margin-bottom: 10px; 
    width: 75%;
  }
  
  .btnSubmit{ 
    margin-top: 20px;
    padding: 20px 25px; 
    font-size: 30px;
    border: none; 
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); 
    font-size: bold !important;
    color: white !important; 
  }
  .btnSubmit:hover{
    background-color: salmon;
  }
  
  .btnSubmitFR{
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
    padding: 25px; 
    border: none;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    font-size: bold !important;
    color: white !important;
  }
  
  .jsb{
    font-size: 30px !important; 
  }
  
  .jsp{
    font-size:24px !important; 
    color: lightgrey; 
  }
  
  .btnSubmitFR:hover{
    background-color: salmon;
  }
  
  #tableCalendar{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    width: 60%; 
    height : 545px;
    overflow-y: scroll;
    padding: 5px; 
  
  }
  
  @media (max-width: 950px){
    .tableCalendar{
      width: 75%;
    }
  }
  
  .posR0{
    position: absolute;
    width: 100%; 
    left: 50%; 
    transform: translate(-50%, 50%);
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center; 
  }
  
  .BlockR0{
    
    width: auto; 
    padding: 25px;
    font-size: 30px; 
    background-color : cornflowerblue;
    border-radius: 5px;
    margin: 0 10px; 
  }
  .BlockR0Q{
    
    width: auto; 
    padding: 25px;
    font-size: 30px; 
    background-color : #9bb2da;
    color:white; 
    border-radius: 5px;
    margin: 0 10px; 
  }
  
  .BlockR0Q:hover, .BlockR0Q:focus, .BlockR0Q:active{
    cursor: pointer;
    background-color: #365388;
    color:white;
    text-decoration: none; 
  }
  
  .containerCharts{
    background-color: #222;
    padding: 100px 25px; 
  }

  .containerCharts canvas{
    margin-bottom: 50px;
  }
  
  .bodyModal{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 25px;
    padding-top: 40px;
  }
  
  .titleModal{
    width: 100%;
    font-size : 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .styleBtnRuleModal{
    display: flex; 
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center; 
    padding: 5px; 
    width:200px;
    height: 200px;
    border-radius: 50%;
    font-weight: bold;
    background-color:gainsboro;
  }
  
  .styleBtnRuleModal span:first-child{
    font-size: 16px;
    font-weight: bold;
  }
  .styleBtnRuleModal span:last-child{
    font-size:40px;
    font-weight: bold;
  }
  
  
  .onRule{
    position: relative;
    border: 10px solid darkred;
  }
  .onRule::before{
    width: 0;
    height: 0;
    border-left: 5px solid darkred;
    border-right: 5px solid darkred;
    border-top: 100px solid darkred;
    border-bottom:100px solid darkred;
    position: absolute;
    content: "";
    top: 50%;
    left:50%; 
    transform: translate(-50%, -50%) rotate(45deg);
    
    /* border: 10px solid darkred; */
  }
  
  .offRule{ 
  
    border: 10px solid cornflowerblue;
  }
  
  #SectionModal{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  #modal{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-flow: column nowrap;
    height:auto; 
    width: 75% !important; 
    background-color: seashell;
    border-radius: 10px;
  }
  
  .CloseModal{
    display: none;
  }
  
  .OpenModal{
    display: block;
  }
  
  .btnClose{
    position: fixed;
    top: 5px; 
    right: 5px; 
    border-radius : 10px;
    font-size: 14px; 
    color: white;
    background-color: black; 
    padding: 5px;
    border: none;
  }
  
  
  
  
  .month_tabElem{
    width: 150px;
    height: 110px;
    padding: 5px;
    border: 1px solid teal; 
  }
  
  
  .div_tabElem{
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: flex-end;
    width: 14% !important;
    height: 75px;
    border: 1px solid white;
    margin-bottom: 2px;
    /* background-color: wheat; */
  }
  
  .span_tabElem{
    display: block;
    width:100%;
    height: 25px;
    padding: 2px 0px;
    background-color: #211e33;
  }
  
  .iconCalendar{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: center;
  }
  
  .iconCalendar span{
    font-size: 14px; 
  }
  
  .daySet{
    position: relative;
    border: 3px solid salmon;
  }
  
  
  
  
  
  
  
  
  
  #SectionModalIntro{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  #modalIntro{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    height:auto; 
    width: 75% !important; 
    background-color: seashell;
    border-radius: 10px;
    z-index: 100;
    padding: 10px 50px; 
  }
  
  #modalIntro h1{
    width: 100%;
    text-align : center;
    font-weight: bold;
    color: #532F8C;
  }
  
  #modalIntro p{
    width: 100%;
    text-align : center;
    font-size : 30px;
    color: slategray;
    margin-top: 25px;
  
  }
  
  .btnCloseIntro{
    margin: 50px 0px; 
    border-radius : 10px;
    font-size: 30px; 
    font-weight: bold;
    color: white;
    background-color: #7646c1;
    padding: 15px;
    border: none;
  }
  
  .navbar-right:hover{
    cursor: pointer !important;
  }
  
  .btnCloseIntro:hover{
    background-color: salmon;
  }
  
  

  
  .responsiveImg{
    width : 100%; 
    height: auto; 
  }
  
  
  .ModalIntroduction:hover{
    cursor: pointer !important;
  }
  
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: salmon;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d04535;
  }
  
  
  
  