<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center containerCc">

      <!-- <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a> -->
      <h1>Ramener la courbe à la maison <span>&#9996;</span></h1>
      <span>Estimation de la propagation du Covid-19 - Vulgarisation</span>
      <p></p>
      <button type="button" id='btnSubmitFR' class="btnSubmitFR" >
        <span class="jsb">Paramêtrer le calendrier avec les mesures appliquées en France</span>
        <span class="jsp"> J-0 = 1<sup>er</sup> Février | J-45 = 17 Mars | J-100 = 11 Mai </span>
      </button>
      <div class="modelisation">

        <div class="j0">
          <span class="span_tabElem"> J - 0 </span>
          <div>
            <label>population totale</label>
            <br>
            <input type="number" id="population_totale" value='70000000' class="inputJ0">
            <br><br>

            <label>nombre d'infecté initiaux</label>
            <br>
            <input type="number" id="initial_infected" value="2000" class="inputJ0">
            <br>
          </div>
          
          <div>
            <label>nombre de contacts</label>
            <br>
            <input type="number"  id="nombre_contacts" value="17" class="inputJ0">
            <br>
            
            <label>Probabilité de transmission</label>
            <br>
            <input type="number"  id="proba_contagion" value='0.011' class="inputJ0">
            <br><br>
          </div>
          
          <div>
            <label>Durée de la maladie</label>
            <br>
            <input type="number" id="infection_duration" value='15' class="inputJ0">
            <br>
                    
            <label>Taux de mortalité</label>
            <br>
            <input type="number" id="death_rate" value='0.02' class="inputJ0">
            <br><br>
          </div>
        </div>

        <div id=tableCalendar></div>

      </div>
      <button type="button" id='btnSubmit'  class="btnSubmit" >Lancer l'estimation <span class="glyphicon glyphicon-play"></span></button>
      <div class="posR0">
        <div class="BlockR0">R<SUB>0</SUB> = <span id="R0"></span></div>
        <a href="https://fr.wikipedia.org/wiki/Nombre_de_reproduction_de_base" target="_blank" class="BlockR0Q">Qu'est ce que le R<SUB>0</SUB> ?</a>

      </div>
    
  </div>
    
  <div class="containerCharts">
    <canvas id="chartR0" width="400" height="400"></canvas>
    <canvas id="chartNbMort" width="400" height="400"></canvas>
    <canvas id="chartNbMaldade" width="400" height="400"></canvas>
  </div>

  <div id="SectionModal" class="SectionModal CloseModal">
    <div id="modal">
      
    </div>  
  </div>

  <div id="SectionModalIntro" class="SectionModal">
    <div id="modalIntro">
      <h1>Mettez en place votre propre plan de Confinement / Déconfinement</h1>
      <p>Pour cela vous pouvez choisir d'authoriser ou non les différents rassemblements qui sont ar défaut tous authorisés : </p>
      <img src="/iconContact.PNG" class="responsiveImg">
      <p>Choisissez également d'appliquer des mesures d'higiène qui par de féfaut ne sont pas appliquées : </p>
      <img src="/iconHygiene.PNG" class="responsiveImg">
      <p>Il suffit de choisir la date a laquelle commence ces mesures puis celles à laquelle elles se terminent : </p>
      <img src="/iconCalendrier.PNG" class="responsiveImg">
      <button class="btnCloseIntro">Commencer <span class="glyphicon glyphicon-play"></span></button> 
    </div>  
  </div>

    <!-- <script src="jsGraphDisplay.1.0.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="js/chart.js"></script>
    <script src="js/main.js"></script>

  </body>

  
</html>
